@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #27282c !important;
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

button.button {
  background-color: #38dcd1;
  color: #fff;
  border: 0;
  outline: 0;
  font-family: inherit;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-weight: 500;
  opacity: 0.7;
  transition: opacity ease 500ms;
}
button.button:hover {
  opacity: 1;
}

.video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.582);
  z-index: 4;
}
.video-container button.button {
  margin-top: 1.1em;
}
.video-container .video {
  width: 48em;
  height: 28em;
  border-radius: 0.3em;
  background-color: #fff;
  overflow: hidden;
}
.video-container .video iframe {
  width: 100%;
  height: 100%;
}

nav #navbarSupportedContent div {
  color: #fff;
}
nav #navbarSupportedContent div ul li {
  cursor: pointer;
  color: #616060;
  margin: 0.8em 1.5em;
  font-size: 14px;
  transition: color ease 500ms;
}
nav #navbarSupportedContent div ul li button {
  margin-top: -2em;
}
nav #navbarSupportedContent div ul li a {
  text-decoration: none;
  color: inherit;
}
nav #navbarSupportedContent div ul li:hover {
  color: #fff;
}

.header {
  width: 100%;
}
.header .left_box {
  padding-top: 9em;
  margin-bottom: 7em;
}
@media screen and (max-width: 985px) {
  .header .left_box {
    order: 2;
    text-align: center;
  }
}
.header .left_box h1 {
  color: #fff;
  font-weight: 600;
}
.header .left_box h1 span {
  opacity: 0.5;
}
.header .left_box p {
  color: #68696a;
}
@media screen and (max-width: 985px) {
  .header .right_box {
    margin-top: 8em;
    display: flex;
    justify-content: center;
    order: 1;
    width: 100%;
  }
}
.header .right_box img {
  width: 24em;
}
@media screen and (min-width: 991px) {
  .header .right_box {
    padding-top: 2em;
    position: relative;
  }
  .header .right_box img {
    position: absolute;
    right: -40%;
    width: 40em;
  }
}

.commands {
  margin: 8em 0;
}
.commands .head h2 {
  color: #fff;
  font-weight: 600;
}
.commands .commands-cards {
  display: flex;
  flex-wrap: wrap;
}
.commands .commands-cards .card {
  margin-right: 3.5em;
  margin-bottom: 3.5em;
  background-color: #212123;
  width: 28em;
  height: 13em;
  color: #fff;
}
.commands .commands-cards .card .content {
  padding: 0 1.5em;
}
.commands .commands-cards .card .content p {
  font-size: 13px;
}
.commands .commands-cards .card .head {
  padding: 1.1em 0;
}
.commands .commands-cards .card .head .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 1.5em;
}
.commands .commands-cards .card .head .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.commands .commands-cards .card .head .command span {
  font-weight: 500;
}
.commands .search {
  margin: 2em 0;
}
.commands .search .box::placeholder {
  color: rgba(255, 255, 255, 0.719);
  opacity: 0.5;
}
.commands .search .box:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.719);
  opacity: 0.5;
}
.commands .search .box::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.719);
  opacity: 0.5;
}
.commands .search input.box {
  color: #fff;
  background-color: #212123;
  width: 100%;
  height: 3em;
  border: 0;
  border-radius: 0.5em;
  padding: 0 2em;
}

.discord {
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 2em;
}
.discord .container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discord .button {
  position: absolute;
  z-index: 1;
  opacity: 1;
}
.discord .overlay {
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100%;
  position: absolute;
}
.discord .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.discord .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 8em;
  background-color: #212123;
  width: 100%;
  height: 12em;
  color: #fff;
}
.footer .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 100%;
}
@media screen and (max-width: 511px) {
  .footer .container div:last-child {
    margin: 0 !important;
  }
}
.footer .container div:last-child span:first-child {
  font-weight: 600;
}


